.rdt {
  position: static;
}

.rdtOpen .form-control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #9d9fb4;
}

.rdtPicker {
  border: 2px solid #9d9fb4;
  margin-top: -2px;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}




/* ----- DatePicker ----- */

.datepicker {
  display: inline-block;
  vertical-align: top;
  max-width: 225px;
}

.datepicker .rdtPicker {
  padding: 12px 10px;
}

.datepicker-toggle {
  background: url("../assets/images/icon-calendar.svg") no-repeat center;
  cursor: pointer;
  display: inline-block;
  height: 31px;
  position: absolute;
  right: 0;
  width: 31px;
}

@media (max-width: 599px) {
  .datepicker-toggle {
    background-size: 25px 25px;
    right: 6px;
    top: 6px;
  }
}

.datepicker.rdtOpen ~ .datepicker-toggle {
  background-image: url("../assets/images/icon-calendar-blue.svg");
}

.rdt .rdtPicker tr {
  border: none !important;
}

.rdt .rdtPicker table thead th {
  border: none;
  text-align: center;
}

.rdtPicker th.rdtSwitch {
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 24px;
  font-weight: bold;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtSwitch,
.rdtPicker th.rdtPrev {
  height: 20px;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: baseline;
}

.rdtPicker th.dow {
  color: #9d9fb4;
  font-size: 12px;
  font-weight: normal;
}

.rdt .rdtPicker .rdtDays td {
  border: 1px solid #dbdfe2;
  color: #9d9fb4;
  text-align: center;
  padding: 3px;
  vertical-align: middle;
}

.rdtPicker .rdtDays td.rdtWeekend {
  color: #ff7373;
}

.rdtPicker .rdtDays td.rdtActive,
.rdtPicker .rdtDays td.rdtActive:hover {
  background-color: #0083ba;
  color: white;
  font-weight: bold;
  text-shadow: none;
}

.rdtPicker td.rdtToday::before {
  border-bottom-color: #0083ba;
}

.rdtPicker .rdtDays td.rdtDisabled {
  color: #dbdfe2;
  pointer-events: none;
}

.rdtPicker td.rdtDisabled.rdtWeekend {
  color: #ffb9b6;
}

.rdtPicker td.rdtDay.rdtOld,
.rdtPicker td.rdtDay.rdtNew {
  color: transparent;
  pointer-events: none;
}

.rdtPicker td.rdtOld.rdtToday::before,
.rdtPicker td.rdtNew.rdtToday::before {
  display: none;
}




/* ----- TimePicker ----- */

.timepicker {
  display: inline-block;
  vertical-align: top;
  max-width: 125px;
}

.timepicker-toggle {
  background: url("../assets/images/icon-clock.svg") no-repeat center;
  cursor: pointer;
  display: inline-block;
  height: 31px;
  margin-left: -33px;
  width: 31px;
}

.timepicker.rdtOpen ~ .timepicker-toggle {
  background-image: url("../assets/images/icon-clock-blue.svg");
}

.timepicker .rdtPicker {
  padding: 0;
  width: 125px;
}

.timepicker .rdtPicker td {
  border: 0;
  padding: 0;
}

.rdtCounters {
  width: 100%;
}

.rdtCounter {
  color: #5d6071;
  text-align: center;
  width: calc(50% - 1px);
}

.rdtCounterSeparator {
  background-color: #9d9fb4;
  color: transparent;
  width: 1px;
}


/* ----- DateTimePicker ----- */

.rdt .rdtPicker td.rdtTimeToggle {
  padding: 10px;
}
