html {
  width:100vw;
  overflow-x:hidden;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: normal !important;
}

::-moz-placeholder { /* Firefox 19+ */
  font-style: normal !important;
}

:-ms-input-placeholder { /* IE 10+ */
  font-style: normal !important;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: normal !important;
}

.form-control.selectpicker {
  display: initial !important;
}

.has-danger .bootstrap-select .btn {
  border-color: #ff7373;
}

.has-danger .selectpicker {
  border-color: #ff7373;
}

.tether-element {
  z-index: 1000;
}

.mobile-table.no-arrow li {
  padding-right: 0;
}

.mobile-table.no-arrow li::after {
  display: none;
}

.mobile-table li a > div {
  padding-right: 1.3rem;
}

button > span, .section-collapse span {
  pointer-events: none;
}

.table-responsive {
  -ms-overflow-style: scrollbar !important;
}

.rah-static.rah-static--height-auto > div {
  display: block !important;
}

.clear {
  z-index: 1050 !important;
}

.mobile-browser {
  cursor: pointer;
}

@media (max-width: 599px) {
  .section-tools {
    float: right;
  }

  .bootstrap-select > .dropdown-toggle {
    padding-right: 65px !important;
  }

  .table-responsive {
    min-height: 50px;
  }

  .custom-control-description {
    display: block;
    font-size: 20px;
  }
  .popover.no-sf.popover-header-user {
    height: calc(100% - 60px) !important;
    top: 60px !important;
  }
}

.popover.no-sf.popover-header-user:after,
.popover.no-sf.popover-header-user:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popover.no-sf.popover-header-user:after {
  border-color: transparent;
  border-bottom-color: #fff;
  right: 16px;
  border-width: 12px;
  margin-left: -10px;
  margin-bottom: -1px;
}
.popover.no-sf.popover-header-user:before {
  border-color: transparent;
  border-bottom-color: #999;
  right: 16px;
  border-width: 12px;
  margin-left: -12px;
}

.popover .popover-scroll-content {
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 600px) {
  .popover-header-user.popover .popover-scroll-content {
    height: 100% !important;
    max-height: 100% !important;
  }
}

.bootstrap-select.stripped-select {
  background-color: transparent;
}
.bootstrap-select.stripped-select .dropdown-toggle {
  min-width: 270px;
  width: auto;
}
.bootstrap-select.stripped-select:not(.show-tick):not(.numeric):not(.searchable) .dropdown-toggle::after {
  top: 75%;
}
.bootstrap-select.stripped-select:hover .filter-option,
.bootstrap-select.stripped-select:hover .dropdown-toggle::after {
  text-decoration: none;
  color: #0083ba;
}
.bootstrap-select.stripped-select.show .filter-option {
  color: #0083ba;
}

.nav-user-name span {
  text-transform: uppercase;
}

.navbar .nav-user-name .nav-user-last-name {
  color: #5d6071;
};

.form-mobile-nav li a::before {
  pointer-events: none;
}

.form-mobile-nav li a.error::after {
  right: 10px;
}

.loader-wrapper {
  position: relative;
  z-index: 3;
  min-height: 2rem;
  display: block;
}

.progress-simple.new-loader {
  width: 100%;
  line-height: 2rem;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.progress-simple.new-loader::before {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.loader-content {
  height: 100%;
  line-height: 2rem;
  padding-left: 2.5rem;
  vertical-align: middle;
  position: relative;
}
.bs-actionsbox {
  margin-bottom: 5px;
}

.bs-actionsbox .btn-group .btn.actions-btn {
  font-size: 1rem;
  margin-left: 0;
}

.bs-actionsbox .btn-group .actions-btn:first-child {
  border-right-width: 1px;
}

.bs-actionsbox .btn-group .actions-btn:last-child {
  border-left-width: 1px;
}

.bootstrap-select .text {
  vertical-align: middle;
  line-height: 2rem;
}

.safari-input-rendering-bug-fix {
  -webkit-transform: translateZ(0);
}

/* PrincipalPicker ie11 flickering fix */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .principal-picker-theme {
    transform: none !important;
    margin-top: 10px;
  }
}
