@media print {
  @page {
    size: auto;
    margin: 25mm;
  }

  body,
  body * {
    background-color: transparent !important;
    color: #34394c;
    line-height: 1.5;
  }

  body,
  .temp .wrapper,
  .content-wrapper {
    display: block !important;
  }

  .form-group {
    page-break-inside: avoid;
  }

  .col-sm-20.col-lg-10 {
    width: 50% !important;
    flex: 0 0 50%;
    max-width: 100%;
  }

  .workarea {
    flex: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .title-line {
    margin-bottom: -8px;
  }

  .temp .desktop-nav.navbar-nav {
    padding: 0;
  }

  .temp .desktop-nav .nav-item {
    padding: 0 20px;
  }

  .navbar .with-title {
    flex: 0 0 auto !important;
    padding: 10px 30px 0 0 !important;
    border: 0 !important;
    float: left !important;
  }

  .desktop-nav {
    display: block !important;
  }

  section + section {
    margin-top: 0;
  }

  .section.custom-section {
    margin: 0 !important;
    padding: 1px !important;
  }

  .section {
    padding: 20px 0;
  }

  .content-wrapper {
    padding: 0 !important;
  }

  .table-responsive {
    overflow-x: visible !important;
    background: transparent !important;
    page-break-after: auto !important;
    margin: 0;
    width: 100%;
  }

  .table {
    display: table !important;
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
    padding: 0 !important;
  }

  .table * {
    border: 0;
    border-style: solid !important;
  }

  .table *:not(span):not(a) {
    padding: 5px 5px !important;
    overflow: visible !important;
    font-size: 12px !important;
  }

  .table-adaptive-tablet.table-collapsable .table > * {
    padding: 5px 0 !important;
  }

  .table-head {
    display: table-header-group !important;
    width: 100% !important;
  }

  .table-head * {
    white-space: normal !important;
    text-overflow: unset !important;
    overflow: visible !important;
  }

  .table-head .table-row > div, thead tr th {
    border-bottom: 2px solid #9d9fb4 !important;
    min-width: 110px !important;
    max-width: 200px !important;
  }

  .table-responsive.table-adaptive-tablet.table-collapsable .table-body {
    display: table-row-group !important;
    width: 100% !important;
  }

  .table-body .table-row > div:nth-child(3) > div {
    white-space: normal !important;
  }

  .table-body .table-row > div:nth-child(7) > div {
    white-space: normal !important;
  }

  .table-row, tr {
    display: table-row !important;
    border-bottom: 1px dotted #9d9fb4;
    width: 100% !important;
  }

  .table-row > div, tr > td, tr > th {
    display: table-cell !important;
    padding: 1px 2px !important;
    border-right: 1px solid #9d9fb4 !important;
    border-bottom: 1px solid #9d9fb4 !important;
    width: 11% !important;
  }

  .table-row > div:last-child, tr td:last-child, tr th:last-child {
    border-right: 0 !important;
    padding-right: 5px !important;
  }

  .table-row > div, tr > td {
    border-top: 0 !important;
  }

  /*Desktop style*/
  .form-group label:not(.switch):not(.custom-control-label):not(.vertical-label) {
    padding-right: 5px;
    text-align: right;
  }

  /*Desktop style*/
  .form-group label:not(.switch):not(.custom-control-label) ~ div[class*='col-'] {
    padding-left: 10px;
  }

  .form-control .dropdown-toggle {
    text-align: right !important;
    font-size: 2rem !important;
    border: 0 !important;
    padding: 0 !important;
  }

  .form-control .dropdown-toggle .filter-option {
    overflow: visible !important;
    text-align: right !important;
  }

  form-control[readonly], .form-control:disabled {
    background-color: transparent !important;
    color: #34394c !important;
    line-height: 1.5;
    padding: 0.275rem 0.75rem;
  }

  .custom-control {
    margin-bottom: 0 !important;
    min-height: 1rem !important;
    line-height: 1.8;
    padding-left: 1.5rem !important;
  }

  .custom-control:first-child {
    margin-top: -2px;
  }

  .custom-control-input {
    opacity: 1 !important;
    z-index: 0 !important;
  }

  .form-group {
    padding-bottom: 0;
    margin-bottom: 0.5rem !important;
  }

  .custom-checkbox .custom-control-input {
    left: initial;
  }

  .avatar,
  .btn,
  .custom-control-indicator,
  .custom-control-label:after,
  .custom-control-label:before,
  .datepicker-toggle,
  .footer-fixed,
  .form-control .dropdown-toggle::after,
  .form-footer,
  .icon-delete,
  .icon-edit,
  .icon-info,
  .label-comment,
  .navbar .nav-item:not(.with-title),
  .navbar-right.navbar-nav,
  .official-wrapper .desktop-nav .with-title:nth-of-type(2),
  .print-hide,
  .section-collapse::before,
  .section-collapse::before,
  .section-collapse[aria-expanded=false],
  .sort-arrows,
  .table-row > div:first-child,
  .textarea-char-counter,
  button,
  footer {
    display: none !important;
  }

  .section-title {
    display: flex !important;
  }

  .section-collapse {
    padding-left: 0;
    color: #0083ba !important;
  }

  .print:last-child {
    page-break-after: auto;
  }

  .table p {
    margin-bottom: 0;
  }

  h2 {
    font-size: 18px !important;
  }

  .form-section,
  input.form-control,
  label,
  .print-textarea,
  .section-title h3,
  textarea.form-control,
  td {
    font-size: 11px !important;
  }

  .label-comment,
  th {
    font-size: 10px !important;
  }

  label.custom-control {
    color: #34394c !important;
  }

  label,
  th,
  th a {
    color: #5d6071 !important;
  }

  hr {
    border-color: #9d9fb4;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  .col-md-4 {
    flex: 0 0 20% !important;
    width: 20% !important;
  }

  .col-md-7 {
    flex: 0 0 35% !important;
    width: 35% !important;
  }

  .col-md-13 {
    flex: 0 0 65% !important;
    width: 65% !important;
  }

  .col-md-16 {
    flex: 0 0 80% !important;
    width: 80% !important;
  }

  .form-control {
    display: inline;
  }

  .col-form-legend {
    text-align: left;
  }

  .form-control-plaintext {
    font-size: inherit;
  }
}
